<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/style.css"
                <link rel="preload" href="/css/style.css" as="style">
                 <link href="/css/style.css" rel="stylesheet">
<body>
    <h1>Lewis Hamilton</h1>
    <img class="centrar" src="/imag/F1_드라이버_루이스_해밀턴과_超프리미엄_LG_시그니처_알린다_01_(cropped).jpg" alt="">
    <p>Lewis Hamilton nació el 7 de enero de 1985 en Stevenage, Hertfordshire, Inglaterra. Sus padres lo llamaron Lewis por el atleta estadounidense Carl Lewis. Su madre Carmen es británica y su padre Anthony afrobritánico, cuyos padres se habían trasladado en los años 50 desde Granada hasta el Reino Unido, siendo por tanto Hamilton mulato. Sus padres se separaron cuando tenía dos años, viviendo hasta los doce años con su madre y sus dos medio hermanas maternas mayores,4​ y desde entonces con su padre, su madrastra y su medio hermano paterno menor Nicholas, también piloto de carreras.</p>
    <a href="/">volver al inicio</a>
</body>
</html>