<html>
    <head>
        <title>Document</title>
     
    </head> 
    <body>  
    <header>
    <link rel="stylesheet" href="/css/style.css"
                <link rel="preload" href="/css/style.css" as="style">
                 <link href="/css/style.css" rel="stylesheet">
                 <h1>TP-HEROES</h1>
    
                 <h2>Personajes</h2>
    </header>
  <!--   <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="/babbage">babbage</a>
            <a href="/berners-lee">berners-lee</a>
            <a href="/clarke">clarke</a>
            <a href="/hamilton">hamilton</a>
            <a href="/hopper">hopper</a>
            <a href="/lovelace">lovelace</a>
            <a href="/turing">turing</a>
            
            
        </nav>
        </div> -->
   
    <ul>
     <li><a class="boton" href="/babbage">babbage</a></li>
     <li><a class="boton" href="/berners-lee">berners-lee</a></li>
     <li><a class="boton" href="/clarke">clarke</a></li>
     <li><a class="boton" href="/hamilton">hamilton</a></li>
     <li><a class="boton" href="/hopper">hopper</a></li>
     <li><a class="boton" href="/lovelace">lovelace</a></li>
     <li><a class="boton" href="/turing">turing</a></li>
     </ul>
     <p>Aqui veremos personajes historicos que marcaron el mundo con sus descubrimientos y hazañas</p>
    
</body>
</html>