<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/css/style.css"
                <link rel="preload" href="/css/style.css" as="style">
                 <link href="/css/style.css" rel="stylesheet">
<body>
    <h1>Ada Lovelace</h1>
    <img class="centrar" src="/imag/Ada_Lovelace.jpg" alt="Madam Lovelace" srcset="">
    <p>Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
    <a href="/">volver al inicio</a>
</body>
</html>